@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans";
}
html{
    background-image:url(./img/fundoprimeiro.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.kyle{
   width: 70vw;
   position: absolute; 
   left: 23vh;
   
}
.container-logo{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.star{
    width: 25vw;
    margin: 16vw;
    
}
.wars{
    margin: 6vw;
    width: 25vw;
}

.container-legiao{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 79vw;
    bottom: 10vh;
}

.legiao{
   width: 8vw;
}
.container-legiao:hover{
   cursor: pointer;
}


main{
    background-image: url(./img/fundodois.png);
    height:180vh;
    width:100%;
    background-repeat: no-repeat;
    margin-top: -10vw;
    }
.caixavermelha{
    position: absolute;
    height: 70vh;
    left: 12vw;
    bottom: 1vh;
    top: 40.5vw;
}
.jogo{
    width: 50vw;
    margin-top: 15vw;
    margin-right: 13vh;
}
.sobreojogo{
    display: flex;
    justify-content: flex-end;
    
}
.container-linha{
    display: flex;
    justify-content: center;
}
.linha{
    width: 80.8vw;
    margin-left: 6vw;
    margin-top: 9vw;
}
.sifh-pai{
    
}
.sifh{
    width:50vw;
    margin-left:12vw;
    margin-top: 3vw;
}
.lista-um{
    font-size: 1.6vw;
    width: 60vh;
    
    
}
.container-lista{
  position: absolute;
  left: 44vw;
  top: 87vw;
  
  
}
li{
    margin-top:1.4vw;
    display:flex;
    justify-content: flex-end;
    
}
h2{
    
    display:flex;
    justify-content: flex-end;
    font-size: 3.3vw;
    font-weight: 600;
}
li:hover{
    cursor: pointer;
    background-color:Tomato;
    color: white;
    font-family: "Open Sans";
}
p{
    font-size: 3.3vw;
    font-weight: 600;
    display:flex;
    justify-content: flex-end;
}
span{
    font-weight: 900;
    margin-left: 1vw;
}
.rey-pai{
   
}
.rey{
   width: 24vw;
   position: absolute;
   top: 88vw;
   left: 70vw;
}
.segunda-parte{
    background-color: #2D2D2D;
    background-size: cover;
     margin-top: -4.3vw;
     height:260vh;
     width:100%
}
h3{
    font-size: 2.5vw;
    color: white;
    font-weight: 800;
    margin-left: 4vw;
    padding: 10vw 10vw 4vw 10vw;
}
.grid-imagem1{
    width: 44vw;
    margin-left: 6vw;
 }
.pai-grid{
    display:flex;
}
.imagem-grid{
    width: 22vw;
    
}
.opacity{
    opacity: 80%;
    position: absolute;
    left: 49vw;
    width: 24vw;
    top: 146vw;
}
.gridimage{
    margin-left: -6.5vw;
    
}
.margin{
    margin-top: -0.4vw;
}

.hierarquia{
    width:88.1vw;
    margin-left: 6vw;
    margin-top: 4vw;
    
}
figcaption{
    font-size: 1vw;
    font-weight: 200;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-right: 5vw;
    padding-top: 1vw;
}
.legenda{
    margin-top: -1vw;
}
.storm{
   position: absolute;
   width: 30vw;
   top: 237vw;
   left: 5vw;
}
.titulo3{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 900;
    font-size: 3vw;
    
    
}
.terceira-parte{
    width:100%;
    height: 70vh;
}
.caixa-pai{
    display:flex;
    justify-content: space-around;
    padding-left: 30vw;
}
.text{
    font-weight: 200;
    font-size: 1.3vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.numeros{
    font-weight: 200;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    padding-bottom: 2vw;
}
.caixa1{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
button{
    width: 14vw;
    height: 9vh;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    font-weight: 200;
    cursor: pointer;
}
.box{
    margin-top: 2vw;
}
.line{
     width: 7vw;
     border: solid;
     border-color: black;
     margin-top: 2vw;
     margin-left: 3.5vw;
   
}

button,.caixa-pai:hover{
    font-weight: 900;
}

button:hover{
    
    background-image:conic-gradient(tomato 50%, black 50%);
    cursor:pointer;
}
.numeros:hover{
    font-weight: 900;
}
.line:hover{
    border-color: tomato;
}
footer{
    background-color: #FF5A56;
    height: 130vh;
    width: 63vw;
    position: absolute;
    top: 295vw;
    
}
h4{
    font-size: 3vw;
    font-weight: 900;
    color: white;
    padding-bottom: 2vw;
}
.texto-footer{
    
    font-size: 1.3vw;
    font-weight: 200;
    color: white;
    display:flex; 
    justify-content: start;

}
.container-footer{
    padding-left: 10vw;
    padding-top: 10vw;
}
.box-imagens{
    padding-left: 10vw;
    padding-top: 3vw;
}
.img-footer{
    width: 17.4vw;
    margin-right:1vw;
}
.line-footer{
    margin-top: 5vw;
    width: 36.3vw;
    border: solid;
    border-color: #D74430;
    margin-left: 10vw;
}
.starwars-footer{
    width: 15vw;
    margin-left: 9vw;
    margin-top: 4vw;
    padding-bottom: 3vw;
}
.text-footer{
    font-size: 1.3vw;
    font-weight: 200;
    color: white;
    display:flex; 
    justify-content: start;
   
    margin-left: 9vw;
}
.darthvader{
    position: absolute;
    bottom: 5vw;
    left: 50vw;
    width: 48vw;
    height: 140vh;
    
}
@media(max-width: 425px){
    .kyle{
        width: 70vw;
        position: absolute; 
        left: 9vh;
        
     }
     .container-logo{
         width: 100%;
         height: 110vh;
         display: flex;
         justify-content: center;
         align-items: center;
       }
     .star{
         width: 25vw;
         position: absolute;
         top: 7vw;
         left: 4vw;
         
     }
     .wars{
         margin: 6vw;
         position: absolute;
         top: 17vw;
         left: 60vw;
     }
     main{
        background-image: url(./img/fundodois.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -104vw;
        height:105vh;
        width:100%;
        }
     .caixavermelha{
        position: absolute;
        height: 65vh;
        left: 33vw;
        bottom: 1vh;
        top: 55vw;
    }
    .container-lista{
        position: absolute;
        left:0vw;
        top: 87vw;
        
        
      }
      .container-legiao{
        display: flex;
        justify-content: center;
        position: absolute;
        left: 79vw;
        top: 25vh;
    }
    .legiao{
        width: 12vw;
     }
     .about-game{
         background-image: url(./img/sobreojogo-mobile.png);
         background-size: 61vh;
         background-repeat: no-repeat;
         width:140vw;
         height: 100vw;
         position: absolute;
         left:11vw;
         top: 155vw;

     }
     .segunda-parte{
        background-color: #2D2D2D;
        background-size: cover;
       margin-top: -11.5vw;
         height:295vh;
         width:100%
    }
    .container-linha{
        margin-top: 158vw;
    }
    
    .container-lista{
        margin-top: 155vw;
        margin-left: -5vw;
        
    }
    .rey{
   width: 24vw;
   position: absolute;
   top: 248vw;
   margin-left: 7vw;
    }
    li{
        font-size: 2.5vw;
    }
    .sifh{
        margin-left: 1vw;
    }
    h2, p, span{
        font-size: 4vw;
    }
    
    .grid-imagem1{
        width: 90vw;
        
     }
    .pai-grid{
        display:block;
        
    }
    .imagem-grid{
        width: 90vw;
        margin-left: 6vw;
    }
    .opacity{
        position: absolute;
        margin-top: 208vw;
        margin-left: -46vw;
        width: 95vw;
    }
    .sifh{
        
     }
    h3{
    font-size: 4vw;
    color: white;
    font-weight: 800;
    display:flex;
    justify-content:center;
 }
    footer{
        margin-top: 510vw;
        height: 150vh;
        width:100%;
    }
    .hierarquia{
        width: 100vw;
        margin-left: -0vw;
        
    }
    .storm{
        position: absolute;
        width:100vw;
        height:110vh;
        top: 654vw;
        left: -40vw;
    }
    figcaption{
        
        display:flex;
        justify-content: end;
        font-size: 1.5vw;
        font-weight: 200;
    }
    .titulo3{
        font-size: 4vw;
        margin-left: 20vw;
    }
    .caixa-pai{
        display: block;
        margin-left: 25vw;
    }
    .text{
        display:flex;
        font-size: 3vw;
        margin-left: -14vw;
    }
    .numeros{
        margin-left: 12vw;
        display:block;
       font-size: 5vw;
    }
    .caixa1{
        display:block;
     }
        button{
            width:30vw;
            font-size: 3vw;
        }
        .line{
            width: 20vw;
        }
       .darthvader{
           margin-bottom: -100vw;
       } 
       h4{
           font-size: 15vw;
           margin-left: -5vw;
       }
       .texto-footer{
           font-size: 4vw;
       }
       .img-footer{
           width:40vw;
       }
       .line-footer{
           width: 82.5vw;
       }
       .starwars-footer{
           width: 50vw;
           margin-left: 25vw;

       }
       .text-footer{
           font-size: 4vw;
       }
       .darthvader{
           width: 100vw;
           height: 100vh;
           position: absolute;
           left: 1vw;
           
       }
}